@use 'index' as *;

section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    h1 {
        color: $color_primary1;
        margin-bottom: 10px;
    }

    .gradient-line {
        width: 100%;
        height: 4px;
        background: linear-gradient(90deg, $color_primary1 0%, $color_primary2 100%);
        border-radius: 2px;
    }
}

h6 {
    color: $color_primary2;
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}

p {
    color: white;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

a {
    color: white;
    text-decoration: none;
    transition: color 125ms;

    &:hover {
        color: $color_primary1;
    }
}